.hero {
	height: 600px;
	width: 100%;
	background-size: 100% auto;
	background-image: url("../images/hero.jpeg");
	background-repeat: no-repeat;

	h1 {
		width: 50%;
		text-align: center;
		color: $color-backgrounds;
		padding-top: 150px;
		margin: 0;
		font-size: 5rem;
		word-wrap: break-word;
	}

	h2 {
		width: 50%;
		text-align: center;
		color: $color-backgrounds;
		font-family: $font-body;
		font-size: 2rem;
		word-wrap: break-word;
	}

	p {
		width: 40%;
		color: $color-backgrounds;
		word-wrap: break-word;
		font-family: $font-body;
		padding-left: 60px;
		text-align: center;
	}
}

.products {
	@include list-reset();

	h2 {
		font-size: 3rem;
		margin: 5px;
	}

	.item {
		margin-bottom: 20px;
		border-top: 1px dotted $color-accent;
		padding-top: 10px;
		display: block;
	}

	.head {
		margin: 0;
		padding: 0;
		font-size: 2rem;
	}

	 p {
		margin: 0;
		font-size: 1.5rem;
		font-family: $font-body;
	}

	img {
		float: left;
		margin-right: 10px;
		height: 120px;
		width: 120px;
	}

	a {
		text-decoration: none;
		color: #000000;
	}

	ul {
		width: 75%;
		float: left;
	}
}

.sidebar {
	width: 25%;
	background-color: $color-accent;
	float: right;
	font-family: $font-body;
	font-size: 1.5rem;

	h2 {
		font-size: 2rem;
		text-align: center;
	}
}