nav {
	background-color: $color-main;
	border-bottom: 5px solid #f9b6cb;
	text-align: right;

	ul {
		@include list-reset();
	}

	li {
		display: inline; 
		padding: 2px;
	}

	a {
	    display: inline-block;
	    padding: 6px 12px;
	    text-decoration: none;
	    font-weight: bold;
		color: $color-accent;
		font-size: 1.5rem;
	}

}