$color-backgrounds: #FEFAEC;
$color-main: #F9A1BC;
$color-accent: #A9EEE6;	
$color-headlines: #625772;
$font-headers: Montserrat, Arial, Helvetica, sans-serif;
$font-body: Neuton, "Times New Roman", Times, serif;